In [68]:
from pyspark.sql import SparkSession

In [69]:
spark = SparkSession.builder.master('local').appName('age_category(age)').getOrCreate()

In [99]:
def age_category(age):
    if age < 35:
        return 'young'
    elif age >= 35 and age <= 59:
        return 'adult'
    elif age >= 60:
        return 'senior'

In [100]:
data = [        ('김찬용',24),
                ('안찬용',43),
                ('박찬용',20),
                ('이찬용',14),
                ('최찬용',17),
                ('윤찬용',52),
                ('백찬용',33)]

In [101]:
schema = ['name', 'age_category(age)' ]

In [102]:
spark.udf.register("age_category", age_category)

In [103]:
df = spark.createDataFrame(data= data, schema=schema)

In [104]:
df.show()

+------+-----------------+
|  name|age_category(age)|
+------+-----------------+
|김찬용|               24|
|안찬용|               43|
|박찬용|               20|
|이찬용|               14|
|최찬용|               17|
|윤찬용|               52|
|백찬용|               33|
+------+-----------------+

In [105]:
df = spark.createDataFrame(data, ["name", "age"])

In [106]:
df.createOrReplaceTempView('people')

In [107]:
spark.sql("SELECT name, \'age_category(age)'\
        AS age_category FROM people").show()

+------+-----------------+
|  name|     age_category|
+------+-----------------+
|김찬용|age_category(age)|
|안찬용|age_category(age)|
|박찬용|age_category(age)|
|이찬용|age_category(age)|
|최찬용|age_category(age)|
|윤찬용|age_category(age)|
|백찬용|age_category(age)|
+------+-----------------+

In [108]:
result = spark.sql("SELECT name, age_category(age) AS age_category FROM people")

In [109]:
result.show()

+------+------------+
|  name|age_category|
+------+------------+
|김찬용|       young|
|안찬용|       adult|
|박찬용|       young|
|이찬용|       young|
|최찬용|       young|
|윤찬용|       adult|
|백찬용|       young|
+------+------------+