In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('local').appName('age_category(age)').getOrCreate()

In [34]:
def age_category(age):
    if age < 35:
        return 'young'
    elif age >= 35 and age <= 59:
        return 'adult'
    else:
        return 'senior'

In [39]:
data = [        ('김찬용',24),
                ('안찬용',43),
                ('박찬용',20),
                ('이찬용',14),
                ('최찬용',17),
                ('윤찬용',52),
                ('백찬용',33)]

In [40]:
schema = ['name', 'age_category(age)' ]

In [41]:
df = spark.createDataFrame(data= data, schema=schema)

In [42]:
df.show()

+------+-----------------+
|  name|age_category(age)|
+------+-----------------+
|김찬용|               24|
|안찬용|               43|
|박찬용|               20|
|이찬용|               14|
|최찬용|               17|
|윤찬용|               52|
|백찬용|               33|
+------+-----------------+